.custom-image1 {
    max-width: 45px;
    height: auto;
  }

  .custom-image2 {
    max-width: 40px;
    height: auto;
  }

  .custom-image3 {
    max-width: 35px;
    height: auto;
  }

  .custom-image4 {
    max-width: 37px;
    height: auto;
  }

  .custom-image5 {
    max-width: 35px;
    height: auto;
  }

  .custom-image6 {
    max-width: 38px;
    height: auto;
  }

  .custom-image7 {
    max-width: 50px;
    height: auto;
  }

  .custom-image8 {
    max-width: 100px;
    height: auto;
  }

  .custom-image9 {
    max-width: 45px;
    height: auto;
  }

  .div-superior {
    margin-bottom: -40px; /* Ajusta el valor según sea necesario */
  }

  a {
    text-decoration: none;
  } 

  textarea{
    resize: none;
  }
/* Hacer cirular un cuadrado de imagen */
  .circular--square {
    border-radius: 50%;
  }